$green-dust-scratch: url("https://s3-us-west-1.amazonaws.com/portoshare/images/green_dust_scratch.png")
$primary-blue-color: #428BCA

body
  position: relative
  background-image: url("https://s3-us-west-1.amazonaws.com/portoshare/images/background.png")

section
  margin-top: 8em
  padding-top: 2%

footer
  height: 40px
  background: $green-dust-scratch
  margin-top: 5%
  padding-top: 10px
  font-size: 16px
  text-align: center
  color: $primary-blue-color
