%nav(class="navbar navbar-inverse navbar-fixed-top" id="main-nav" role="navigation")
  .container
    .navbar-header
      %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-toggle")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "PortoShare", "", class: "navbar-brand"
    .collapse.navbar-collapse#main-nav-toggle
      %ul.nav.navbar-nav
        %li= link_to "About", ""
        %li= link_to "something", ""