%nav(class="navbar navbar-inverse navbar-fixed-top" id="main-nav" role="navigation")
  .login-signup-button-container
    %button.btn.btn-primary Log in
    %button.btn.btn-primary{"data-target" => "#sign-up-modal", "data-toggle" => "modal"} Sign up

  .container
    .navbar-header
      %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-toggle")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "PortoShare", "", class: "navbar-brand"
    .collapse.navbar-collapse#main-nav-toggle
      %ul.nav.navbar-nav
        %li= link_to "About", ""