= link_to vote_project_path(project), method: :post, remote: true, id: "project_#{project.id}_votes", class: "voting-thumb" do
  %i.fa.fa-thumbs-o-up{"data-toggle" => "tooltip", "data-placement" => "left", "title" => "Click to Vote!!"}= " #{project.votes_count}"