.nested-fields
  = f.text_field :header, placeholder: "ex: Built using TDD from Ground Up"
  = f.text_area :content, rows: 8, placeholder: "This section is meant for you to share any detailed information relevant to your application, such as a list of technologies used or a particular project feature.", help: "Maximum 600 characters"
  .form-group#remove
    = link_to_remove_association f do
      %i.fa.fa-minus-circle.fa-lg.text-danger= " Remove Field"