#project-index.container
  .row
    - @projects.each do |project|
      %li.col-sm-6.col-md-4
        .thumbnail
          = link_to project, nil do
            = image_tag "http://lorempixel.com/500/400" # TODO: change to project.image.url
          .caption
            %h3= project.title
            %p a mankljads;lkfjadsl;k fjdsakljfdsl;kfjdsl;kfjdsal;kfjdsal;kfjdsa ;lfdk dsl;fkjdsflkds jfl;kdasjf;lkdsafj;ldksjfdlsk;jdslkfjds;flkjd s;flkjasd; lfkdjsa;flkaj dsl;fkjadslk;j;