#project-index.container-fluid
  .row#projects
    %h1#main-header.col-sm-8.col-sm-offset-1.col-xs-12
      - if @show_tag
        %i.fa.fa-tags= " Tag: #{@tag_name}"
      - else
        Recent Projects
    .page
      = render @projects

  #pagination-bar.col-sm-8.col-sm-offset-1.col-xs-12
    = paginate(@projects, window: 2, left: 1)



