.project-index.container
  .row
    - @projects.each do |project|
      %li.col-sm-4
        .thumbnail
          = link_to "", nil do
            = image_tag "http://lorempixel.com/500/400" # TODO: change to project.image.url
          .caption
            %h3= project.title
            %p= project.subtitle