---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?sort=updated_at
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token f73d2c2ec01c4cb9d9e9fa6ed1c6bb2213a097f3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1409876221'
      Etag:
      - '"ce7424ec5b16e6c428376ada9e240378"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 19132a72991daa0f86cf
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":23203909,"name":"portfolio","full_name":"tsufurukawa/portfolio","owner":{"login":"tsufurukawa","id":7078252,"avatar_url":"https://avatars.githubusercontent.com/u/7078252?v=2","gravatar_id":"a3807a3e5ab34d25a6597a77e9f60db4","url":"https://api.github.com/users/tsufurukawa","html_url":"https://github.com/tsufurukawa","followers_url":"https://api.github.com/users/tsufurukawa/followers","following_url":"https://api.github.com/users/tsufurukawa/following{/other_user}","gists_url":"https://api.github.com/users/tsufurukawa/gists{/gist_id}","starred_url":"https://api.github.com/users/tsufurukawa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tsufurukawa/subscriptions","organizations_url":"https://api.github.com/users/tsufurukawa/orgs","repos_url":"https://api.github.com/users/tsufurukawa/repos","events_url":"https://api.github.com/users/tsufurukawa/events{/privacy}","received_events_url":"https://api.github.com/users/tsufurukawa/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/tsufurukawa/portfolio","description":"Portfolio
        sharing application","fork":false,"url":"https://api.github.com/repos/tsufurukawa/portfolio","forks_url":"https://api.github.com/repos/tsufurukawa/portfolio/forks","keys_url":"https://api.github.com/repos/tsufurukawa/portfolio/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tsufurukawa/portfolio/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tsufurukawa/portfolio/teams","hooks_url":"https://api.github.com/repos/tsufurukawa/portfolio/hooks","issue_events_url":"https://api.github.com/repos/tsufurukawa/portfolio/issues/events{/number}","events_url":"https://api.github.com/repos/tsufurukawa/portfolio/events","assignees_url":"https://api.github.com/repos/tsufurukawa/portfolio/assignees{/user}","branches_url":"https://api.github.com/repos/tsufurukawa/portfolio/branches{/branch}","tags_url":"https://api.github.com/repos/tsufurukawa/portfolio/tags","blobs_url":"https://api.github.com/repos/tsufurukawa/portfolio/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tsufurukawa/portfolio/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tsufurukawa/portfolio/git/refs{/sha}","trees_url":"https://api.github.com/repos/tsufurukawa/portfolio/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tsufurukawa/portfolio/statuses/{sha}","languages_url":"https://api.github.com/repos/tsufurukawa/portfolio/languages","stargazers_url":"https://api.github.com/repos/tsufurukawa/portfolio/stargazers","contributors_url":"https://api.github.com/repos/tsufurukawa/portfolio/contributors","subscribers_url":"https://api.github.com/repos/tsufurukawa/portfolio/subscribers","subscription_url":"https://api.github.com/repos/tsufurukawa/portfolio/subscription","commits_url":"https://api.github.com/repos/tsufurukawa/portfolio/commits{/sha}","git_commits_url":"https://api.github.com/repos/tsufurukawa/portfolio/git/commits{/sha}","comments_url":"https://api.github.com/repos/tsufurukawa/portfolio/comments{/number}","issue_comment_url":"https://api.github.com/repos/tsufurukawa/portfolio/issues/comments/{number}","contents_url":"https://api.github.com/repos/tsufurukawa/portfolio/contents/{+path}","compare_url":"https://api.github.com/repos/tsufurukawa/portfolio/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tsufurukawa/portfolio/merges","archive_url":"https://api.github.com/repos/tsufurukawa/portfolio/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tsufurukawa/portfolio/downloads","issues_url":"https://api.github.com/repos/tsufurukawa/portfolio/issues{/number}","pulls_url":"https://api.github.com/repos/tsufurukawa/portfolio/pulls{/number}","milestones_url":"https://api.github.com/repos/tsufurukawa/portfolio/milestones{/number}","notifications_url":"https://api.github.com/repos/tsufurukawa/portfolio/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tsufurukawa/portfolio/labels{/name}","releases_url":"https://api.github.com/repos/tsufurukawa/portfolio/releases{/id}","created_at":"2014-08-21T21:37:55Z","updated_at":"2014-09-02T02:17:27Z","pushed_at":"2014-09-03T23:20:09Z","git_url":"git://github.com/tsufurukawa/portfolio.git","ssh_url":"git@github.com:tsufurukawa/portfolio.git","clone_url":"https://github.com/tsufurukawa/portfolio.git","svn_url":"https://github.com/tsufurukawa/portfolio","homepage":null,"size":4636,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":22819777,"name":"Fire-Zen","full_name":"tsufurukawa/Fire-Zen","owner":{"login":"tsufurukawa","id":7078252,"avatar_url":"https://avatars.githubusercontent.com/u/7078252?v=2","gravatar_id":"a3807a3e5ab34d25a6597a77e9f60db4","url":"https://api.github.com/users/tsufurukawa","html_url":"https://github.com/tsufurukawa","followers_url":"https://api.github.com/users/tsufurukawa/followers","following_url":"https://api.github.com/users/tsufurukawa/following{/other_user}","gists_url":"https://[...]
