#main-nav
  background: url("/tmp/green_dust_scratch.png")
  padding: 1.5em 0
  border: none
  
  .navbar-collapse
    border: none

  a.navbar-brand
    font-size: 2.7em
    font-family: 'Lobster', cursive
    font-weight: bold

  li a
    font-size: 1.5em
