#main-nav
  background: url("/tmp/green_dust_scratch.png")
  padding-top: 3.0em
  padding-bottom: 0.5em
  border: none

  .navbar-collapse
    border: none

  a.navbar-brand
    font-size: 2.7em
    font-family: 'Lobster', cursive
    font-weight: bold

  li a
    font-size: 1.5em

  > .login-signup-button-container
    position: absolute
    top: 0.5em
    right: 1em

    button
      border-radius: 0

    .dropdown
      padding-top: 0.5em
      padding-right: 0.3em

      .dropdown-menu
        background: url("/tmp/background.png")

      a
        font-size: 1.3em

      a:hover
        text-decoration: none
        color: #0066FF

      li a
        font-size: 1.0em

      li.name
        a
          font-size: 1.2em
          padding-bottom: 0
          padding-top: 0

        p
          font-size: 0.7em
          margin-bottom: 0

      .divider
        margin: 3px 0



