$primary-blue-color: #428BCA
$hover-blue-color: #0066FF
$serif-font: "Garamond", "Times New Roman", serif

#project-show
  max-width: 1000px

  a:hover
    color: $hover-blue-color

  #bulletin-board-wrapper
    // background: url("/tmp/retina_wood.png")
    // width: 100%
    // padding: 3% 5% 4% 5%

  #title-container
    text-align: center
    margin-bottom: 1.5em
    padding-right: 5%
    padding-left: 5%

  #project-title
    font-family: 'Lobster', cursive
    font-size: 3.1em
    font-weight: bold

  #project-subtitle
    font-size: 1.7em

  #project-created-at
    font-size: 1.0em
    span
      font-size: 1.2em

  .tag
    font-size: 1.25em


  #main-description-text
    margin-bottom: 2em

  #main-description-header
    color: $hover-blue-color

  #project-main-description ~ p
    font-size: 1.2em

  #project-image
    width: 90%

  .more-info-header
    font-size: 1.2em
    color: $primary-blue-color

  .more-info-description ~ p
    font-size: 1.12em

  .item
    width: 50%
    padding: 2em 2em 0 2em

@media only screen and (max-width: 769px)
  #project-show
    #bulletin-board-wrapper
      border-width: 13px !important

    #project-image
      width: 60% !important
      display: block
      margin-left: auto
      margin-right: auto
      margin-bottom: 3em

    #bulletin-board-wrapper
      font-size: 0.9em