#sign-up-modal
  .modal-content.col-sm-12
    padding-left: 0
    padding-right: 0
    margin-top: 100px
    background-image: url("/tmp/green_dust_scratch.png")

  .modal-body
    background-image: url("/tmp/background.png")

  .modal-header
    border-bottom: 1px solid black

  h4
    font-family: "Lobster", cursive
    font-weight: bold
    font-size: 1.6em