#user-show
  max-width: 1170px

  #basic-user-info
    background: white
    min-height: 166px

  #user-image
    border-radius: 100%
    padding-top: 2em
    padding-bottom: 2em

  #user-info
    margin-left: -4%
    padding-right: 0

  #user-top-content
    margin-bottom: 3em
    padding-left: 5%
    padding-right: 5%

@media only screen and (max-width: 970px)
  #user-show
    #user-info
      padding-left: 10%

@media only screen and (max-width: 768px)
  #user-show
    #basic-user-info
      text-align: center

    #user-image-container
      width: 100%

    #user-info
      width: 100%

    #user-image
      display: block
      margin-left: auto
      margin-right: auto




