---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 04da30271cf6a831c8371fde25b8253ff974a138
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4791'
      X-Ratelimit-Reset:
      - '1409811045'
      Last-Modified:
      - Tue, 02 Sep 2014 02:17:27 GMT
      Etag:
      - '"83122179ecde728477377a06e8190678"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 19132a72991daa0f86cf
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"tsufurukawa","id":7078252,"avatar_url":"https://avatars.githubusercontent.com/u/7078252?v=2","gravatar_id":"a3807a3e5ab34d25a6597a77e9f60db4","url":"https://api.github.com/users/tsufurukawa","html_url":"https://github.com/tsufurukawa","followers_url":"https://api.github.com/users/tsufurukawa/followers","following_url":"https://api.github.com/users/tsufurukawa/following{/other_user}","gists_url":"https://api.github.com/users/tsufurukawa/gists{/gist_id}","starred_url":"https://api.github.com/users/tsufurukawa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tsufurukawa/subscriptions","organizations_url":"https://api.github.com/users/tsufurukawa/orgs","repos_url":"https://api.github.com/users/tsufurukawa/repos","events_url":"https://api.github.com/users/tsufurukawa/events{/privacy}","received_events_url":"https://api.github.com/users/tsufurukawa/received_events","type":"User","site_admin":false,"public_repos":10,"public_gists":5,"followers":1,"following":0,"created_at":"2014-03-27T06:25:43Z","updated_at":"2014-09-02T02:17:27Z"}'
  recorded_at: Thu, 04 Sep 2014 06:10:07 GMT
[...]
